<!-- <app-todo-apps></app-todo-apps> -->

<!-- <app-todo-apps-form-control></app-todo-apps-form-control> -->
<!-- <app-parent-child></app-parent-child> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-form-example></app-form-example> -->

<!-- <app-use-directive></app-use-directive> -->
<!-- <p appRedCol>use-directive works!</p> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-example-services></app-example-services> -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <app-navbar></app-navbar>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
