<mat-nav-list>
  <mat-list-item class="parent" routerLink="/data-binding" [routerLinkActive]="['is-active']">
    <span class="full-width">Data Binding</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/dependency-injection" [routerLinkActive]="['is-active']">
    <span class="full-width">Dependency Injection</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/example-services" [routerLinkActive]="['is-active']">
    <span class="full-width">Example Services</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/form-example" [routerLinkActive]="['is-active']">
    <span class="full-width">Form Example</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/parrent-child" [routerLinkActive]="['is-active']">
    <span class="full-width">Parrent Child</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/pipe-example" [routerLinkActive]="['is-active']">
    <span class="full-width">Pipe Example</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/todo-apps" [routerLinkActive]="['is-active']">
    <span class="full-width">Todo Apps</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/todo-apps-form-control" [routerLinkActive]="['is-active']">
    <span class="full-width">Todo Apps Form Control</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/two-way-binding" [routerLinkActive]="['is-active']">
    <span class="full-width">Two Way Binding</span>
  </mat-list-item>
  <mat-list-item class="parent" routerLink="/use-directive" [routerLinkActive]="['is-active']">
    <span class="full-width">Use Directive</span>
  </mat-list-item>
</mat-nav-list>
